[Unit]
Description=SSH Tunnel VPN en {{ tunel_name }}
After=network.target

[Service]
ExecStart=/usr/bin/ssh -o StrictHostKeyChecking=no -w {{ tunel_any }}:{{ tunel_any }} {{ user }}@{{ server_ip }} true
Restart=always
User={{ user }}

[Install]
WantedBy=multi-user.target

